﻿/*******************************************************************************
For test pages
*******************************************************************************/
/* 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
nav, menu, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;

}

article, aside, details, figcaption, figure, 
footer, header, hgroup, nav, nav, section {
    display: block;
}


h1{
	font-size: 150%;
	margin-top: 10px;
	margin-bottom: 20px;
}

h2{
	font-size: 110%;
}

#header{
	position: fixed;
	height: 30px;
	width: 100%;
	background: #DFE3E8;
	z-index: 10;
	text-align: right;
	padding: 5px;
}

#middle{
	height: 100%;
	width: 100%;
	padding-top: 40px;
}

#control-panel{
	float:left;
	position: fixed;
	height: 100%;
	overflow: auto;
	z-index: 10;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	background: #DFE3E8;
	margin-top: -10px;
}

#controls-wrapper{
	width: 230px;
	overflow: none;
}

.controls-block{
	margin-bottom: 10px;
	font-size: 14px;
}

#select-period, #select-date-from, #select-date-to{
    width: 100%;
    height: 28px;
    border: none;
    background: #F4F4F4;
    border-radius: 2px;
    box-shadow: 0 0 1px #C8CCD4;
    padding: 6px 0px 6px 6px;
}

.filter-table {
width: 100%;   
background: #F4F4F4;
border-radius: 3px;
box-sizing: border-box;
border: 3px solid #D2D6DE;
border-top-left-radius: 2px;
border-top-right-radius: 2px; 
padding: 0px;
border-collapse: collapse;
text-align: left;
}

.filter-table tr>:first-child{
width: 25px;   
}

#content-panel{
	float:left;
	width: 100%;
	padding-left: 270px;
	z-index: 0;
	padding-right: 20px;
}

.chart-container-bar{
	width: 100%;
	float: left;
	display: inline-block;
}

.chart-container-column{
	width: 70%;
	float: left;
	display: inline-block;
}

.chart-container-pie{
	width: 30%;
	float: left;
	display: inline-block;
}


.content-panel-delimeter{
	float: left;
	width: 100%;
	height: 10px;
	background: #F4F4F4;
}

.table-container{
	padding-left: 100px;
	overflow: auto;
	width: 100%; 
}

.statistics-table {    
margin: 13px 0px 10px 0px;
background: #EEEEEE;
border-radius: 3px;
box-sizing: border-box;
border-top: 3px solid #D2D6DE;
border-top-left-radius: 2px;
border-top-right-radius: 2px; 
font-family: pt sans,sans-serif;
font-size: 14px;
padding: 0px;
border-collapse: collapse;
height: 43px;
text-align: right;
}

.statistics-table  td {
vertical-align: middle;
box-sizing: border-box;
height: 25px;
border: 1px solid #F4F4F4;
padding-right: 5px;
padding-left: 5px;
}

.statistics-table tbody > :nth-child(2n+1){
background: #FFFFFF;
}

.statistics-table thead {
background: #63A3C9;
color: white;
text-align: center;
}

.statistics-table tbody > tr > :first-child{
background: #63A3C9;
color: white;
text-align: left;
}
 */
/*******************************************************************************
For dashboard
*******************************************************************************/
html, body {
	height: 100%;
}
body {
}

h1{
	font-size: 150%;
	margin-top: 10px;
	margin-bottom: 20px;
	display: inline-block;
}

h2{
	font-size: 110%;
	display: inline-block;
}

.page-content {
	padding-top: 3.125rem;
	min-height: 100%;
	height: 100%;
}

.app-bar .app-bar-nonelement {
	line-height: 3.125rem;
	padding: 0 .625rem;
	font-size: 1rem;
	color: inherit;
	float: left;
	vertical-align: middle;
	height: 3.125rem;
}        
	
@media screen and (max-width: 800px){
	#cell-sidebar {
		flex-basis: 52px;
	}
	#cell-content {
		flex-basis: calc(100% - 52px);
	}
}

#panels-box{
position:relative;
height: 100%; 
width: 100%;
}

#load-indicator{
z-index: 10000;
width: 100%;
height: 100%;
position:absolute;
background-color: white;
}

#load-indicator-spinner{
width: 110px;
margin-left: auto;
margin-right: auto;
margin-top: 200px;
font-size: 6rem;
}

.content{
padding-left: 10px;
padding-bottom: 10px;
vertical-align: top;
}

.chart-panel {
position: absolute;
visibility: hidden;
}

.ga-total-vidgets-container{
	text-align: justify;
}

.ga-totalnum-vidget{
	display: inline-block;
	width: 19%;
}

.ga-totalnum-vidget > .heading{
	font-size: 0.9rem;
}

.ga-totalnum-vidget .content{
	font-size: 2rem;
}

.chart-container-column-totals-50{
	width: 49%;
	display: inline-block;
}

.chart-container-column-totals-100{
	width: 98%;
	display: inline-block;
}

.chart-container-bar-totals-100{
	width: 98%;
	display: inline-block;
}

.chart-container-table-100{
	width: 98%;
	display: inline-block;
}

.chart-container-pie-totals{
	width: 49%;
	display: inline-block;
}

.chart-container-timeline{
	width: 98%;
	display: inline-block;
}

.export-link{
	background-color:#2086bf;
	margin-right: 30px;
	margin-top: 15px;
}

