body {
 margin: 0;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/preloader_8.gif) center no-repeat #fff;
}



html,body {
  background: #FFF url(../img/back.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hidden {
	
}

.adv {
	float: left; 
	position: relative;
}

.radiusbox {
    border:solid 3px #ffcc33;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-right: 0;
    height: 100%;
    margin-top: 0px;
    background: #ffcc33;
    color: #2d1e2f;
    margin-bottom: 0px;
	height: 2vh;
}

.wrapper {
display: table;
position: relative;
float: center;
margin-left: auto;
margin-right: auto;
height: 94vh;
}


@media only screen and (max-device-width: 960px) {
.gimage {
 float: left;
 position: relative;
 width: 100%;
 width: 100vw;
 margin-right: 0;
 margin-bottom: 0;
}
.gimage_premium {
 float: left;
 position: relative;
 width: 100%;
 margin-right: auto;
 margin-bottom: auto;
}

.gimage_extra {
 display: none;
 float: left;
 position: relative;
 width: 100%;
 margin-right: 0%;
 margin-bottom: 0%;
}

.adframe_extra {
 display: none;
}

}


@media only screen and (max-device-width: 2048px) and (min-device-width: 1024px) {
.gimage {
float: left;
position: relative;
height: 47vh;
margin-right: auto;
margin-bottom: auto;
}

.gimage_premium {
float: left;
position: relative;
height: 93vh;
margin-right: auto;
margin-bottom: auto;
}


.gimage_extra {
float: left;
position: relative;
height: 47vh;
margin-right: auto;
margin-bottom: auto;
}


}



h3 { 
   align: left;
   position: relative;
   width: 100%; 
   top: 0%;
   left: 0%;
}

h3 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 5px;
}
    
.textwrap {
 float: left;
 position: absolute;
 width: 100%;
 top: 0;
 left: 0;
}

